@model AdInformationViewModel

<link rel="stylesheet" href="~/css/Ad/Information.css" asp-append-version="true" />

<section class="card-holder" asp-action="Information">

	<article class="hostel-home-card">
		<div class="image-holder">
			@{
				// Display the first image
				var firstImage = Model.ImageUrls.FirstOrDefault();
				if (firstImage != null)
				{
					<img src="~/Images/Ad/@firstImage" alt="First image of the car ad" />
				}
			}
		</div>
		<h2 class="article-title">@Model.Brand @Model.Model</h2>
		<div class="card-text">
			<ul class="list-information-car">
				<strong class="price-information">Price: @Model.Price$</strong>
				<button class="buy-button">BUY</button>
				<div class="car-information">
				<li><strong>Year:</strong> @Model.Year</li>
				<li><strong>Engine:</strong> @Model.Engine</li>
				<li><strong>Condition:</strong> @Model.Condition</li>
				<li><strong>Euro Standard:</strong> @Model.EuroStandard</li>
				<li><strong>Fuel Type:</strong> @Model.FuelType</li>
				<li><strong>Colour:</strong> @Model.Colour</li>
				<li><strong>Transmission:</strong> @Model.Transmition</li>
				<li><strong>Drive Train:</strong> @Model.DriveTrain</li>
				<li><strong>Weight:</strong> @Model.Weight KG</li>
				<li><strong>Mileage:</strong> @Model.Mileage KM</li>
				<li><strong>Body Type:</strong> @Model.BodyType</li>
				<li><strong>Manufacturer:</strong> @Model.Manufacturer</li>
				<!-- Include necessary properties from Address, Ad, and User entities -->
		</div>
		</ul>
		<section>
			<h2 class="article-title">Accessories</h2>
			<button class="toggle-accessories-button" onclick="toggleAccessories()">Show More</button>


			<ul class="list-information-car-accessories">
					@{
						foreach (var accessory in Model.Accessories)
						{
							DisplayAccessoryProperty("GPS Tracking System", accessory.GpsTrackingSystem);
							DisplayAccessoryProperty("Automatic Stability Control", accessory.AutomaticStabilityControl);
							DisplayAccessoryProperty("Adaptive Headlights", accessory.AdaptiveHeadlights);
							DisplayAccessoryProperty("Anti-lock Braking System (ABS)", accessory.Abs);
							DisplayAccessoryProperty("Rear Airbags", accessory.RearAirbags);
							DisplayAccessoryProperty("Front Airbags", accessory.FrontAirbags);
							DisplayAccessoryProperty("Side Airbags", accessory.SideAirbags);
							DisplayAccessoryProperty("Electronic Brake-force Distribution (EBD)", accessory.Ebd);
							DisplayAccessoryProperty("Electronic Stabilization Program (ESP)", accessory.Esp);
							DisplayAccessoryProperty("Tire Pressure Monitoring System (TPMS)", accessory.Tpms);
							DisplayAccessoryProperty("Parktronic (Parking Sensors)", accessory.Parktronic);
							DisplayAccessoryProperty("ISOFIX System (Child Seat Anchorage System)", accessory.Isofix);
							DisplayAccessoryProperty("Dynamic Stability Control", accessory.DynamicStabilityControl);
							DisplayAccessoryProperty("Traction Control System (TCS)", accessory.Tcs);
							DisplayAccessoryProperty("Distance Control System", accessory.DistanceControlSystem);
							DisplayAccessoryProperty("Descent Control System", accessory.DescentControlSystem);
							DisplayAccessoryProperty("Brake Assist System (BAS)", accessory.Bas);
							DisplayAccessoryProperty("Auto Start-Stop Function", accessory.AutoStartStopFunction);
							DisplayAccessoryProperty("Bluetooth/Handsfree System", accessory.BluetoothHandsfreeSystem);
							DisplayAccessoryProperty("DVD/TV", accessory.DvdTv);
							DisplayAccessoryProperty("Steptronic/Tiptronic (Transmission Systems)", accessory.SteptronicTiptronic);
							DisplayAccessoryProperty("USB/Audio/Video/IN/AUX Outputs", accessory.UsbAudioVideoInAuxOutputs);
							DisplayAccessoryProperty("Adaptive Air Suspension", accessory.AdaptiveAirSuspension);
							DisplayAccessoryProperty("Keyless Ignition", accessory.KeylessIgnition);
							DisplayAccessoryProperty("Differential Lock", accessory.DifferentialLock);
							DisplayAccessoryProperty("On-board Computer", accessory.OnBoardComputer);
							DisplayAccessoryProperty("Light Sensor", accessory.LightSensor);
							DisplayAccessoryProperty("Electric Mirrors", accessory.ElectricMirrors);
							DisplayAccessoryProperty("Electric Glass", accessory.ElectricGlass);
							DisplayAccessoryProperty("Electric Suspension Adjustment", accessory.ElectricSuspensionAdjustment);
							DisplayAccessoryProperty("Electric Seat Adjustment", accessory.ElectricSeatAdjustment);
							DisplayAccessoryProperty("Electric Power Steering", accessory.ElectricPowerSteering);
							DisplayAccessoryProperty("Air Conditioner", accessory.AirConditioner);
							DisplayAccessoryProperty("Climatronic (Automatic Climate Control)", accessory.Climatronic);
							DisplayAccessoryProperty("Multifunction Steering Wheel", accessory.MultifunctionSteeringWheel);
							DisplayAccessoryProperty("Navigation System", accessory.NavigationSystem);
							DisplayAccessoryProperty("Steering Wheel Heating", accessory.SteeringWheelHeating);
							DisplayAccessoryProperty("Windshield Heating", accessory.WindshieldHeating);
							DisplayAccessoryProperty("Seat Heating", accessory.SeatHeating);
							DisplayAccessoryProperty("Steering Wheel Adjustment", accessory.SteeringWheelAdjustment);
							DisplayAccessoryProperty("Rain Sensor", accessory.RainSensor);
							DisplayAccessoryProperty("Power Steering", accessory.PowerSteering);
							DisplayAccessoryProperty("Headlamp Wash System", accessory.HeadlampWashSystem);
							DisplayAccessoryProperty("Cruise Control System (Autopilot)", accessory.CruiseControlSystem);
							DisplayAccessoryProperty("Stereo System", accessory.StereoSystem);
							DisplayAccessoryProperty("Cooling Glovebox", accessory.CoolingGlovebox);
						}
					}
			</ul>

		</section>
		<section>
			<h2 class="article-title">Description</h2>
			<p>@Model.Description</p>
		</section>
		</div>
	</article>

</section>


@functions
{
	void DisplayAccessoryProperty(string propertyName, bool propertyValue)
	{
		<li>
			<strong>@propertyName</strong>: @(propertyValue ? "Yes" : "No")
		</li>
	}
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
<script src="~/js/Ad/Ad.js" asp-append-version="true"></script>
