@model AdInformationViewModel

<link rel="stylesheet" href="~/css/Ad/Information.css" asp-append-version="true" />

<section class="card-holder" asp-action="Information">

	<article class="hostel-home-card">
		<div class="image-holder">
			@{
				// Display the first image
				var firstImage = Model.ImageUrls.FirstOrDefault();
				if (firstImage != null)
				{
					<img src="~/Images/Ad/@firstImage" alt="First image of the car ad" />
				}
			}
		</div>
		<h2 class="article-title">@Model.Brand @Model.Model</h2>
		<div class="card-text">
			<ul class="list-information-car">
				<strong class="price-information">Price: @Model.Price$</strong>
				<button class="buy-button">BUY</button>
				<div class="car-information">
				<li><strong>Year:</strong> @Model.Year</li>
				<li><strong>Engine:</strong> @Model.Engine</li>
				<li><strong>Condition:</strong> @Model.Condition</li>
				<li><strong>Euro Standard:</strong> @Model.EuroStandard</li>
				<li><strong>Fuel Type:</strong> @Model.FuelType</li>
				<li><strong>Colour:</strong> @Model.Colour</li>
				<li><strong>Transmission:</strong> @Model.Transmition</li>
				<li><strong>Drive Train:</strong> @Model.DriveTrain</li>
				<li><strong>Weight:</strong> @Model.Weight KG</li>
				<li><strong>Mileage:</strong> @Model.Mileage KM</li>
				<li><strong>Body Type:</strong> @Model.BodyType</li>
				<li><strong>Manufacturer:</strong> @Model.Manufacturer</li>
				<!-- Include necessary properties from Address, Ad, and User entities -->
		</div>
		</ul>
		<section>
			<h2 class="article-title">Accessories</h2>
			<button class="toggle-accessories-button" onclick="toggleAccessories()">Show More</button>


			<ul class="list-information-car-accessories">
					@{
						foreach (var accessory in Model.Accessories)
						{
						<li>
							<strong>@accessory.Name</strong>
						</li>
						}
					}
			</ul>

		</section>
		<section>
			<h2 class="article-title">Description</h2>
			<p>@Model.Description</p>
		</section>
		</div>
	</article>

</section>


@functions
{
	void DisplayAccessoryProperty(string propertyName, bool propertyValue)
	{
		<li>
			<strong>@propertyName</strong>: @(propertyValue ? "Yes" : "No")
		</li>
	}
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
<script src="~/js/Ad/Ad.js" asp-append-version="true"></script>
