@model UserProfileViewModel

<link rel="stylesheet" href="~/css/Account/Profile/Profile.css" asp-append-version="true" />

<partial name="_WebsiteName">
</partial>

<div class="flexed-account-and-messages">
	<article class="card-account">
		<form action="/Account/Profile" class="card-content">
			<h1 class="title-text-account">ACCOUNT INFORMATION</h1>
			<section class="other-forms">
				<ul>
					<li><strong>First name:</strong> @Model.FirstName</li>
					<li><strong>Last name:</strong> @Model.LastName</li>
					<li><strong>Email address:</strong> @Model.Email</li>
					<li><strong>Balance:</strong> @Model.Balance$</li>
				</ul>
			</section>

			<div asp-validation-summary="ModelOnly" class="error-container"></div>
		</form>
	</article>

	<div class="chat-and-messages">
		<article class="card-chat-messages">
			<h1 class="title-text-chats">CHATS</h1>
			@if (Model.ChatMessages.Count != 0)
			{
				<ul class="chat-messages-ul">
					@foreach (var message in Model.ChatMessages)
					{
						<li class="chat-messages-li">
							<h2 class="message-title">@message.Title</h2>
							<p class="message-content">@Html.Raw(message.Content)</p>
							<h3 class="timestamp">@message.CreatedTime</h3>
						</li>
					}
				</ul>
			}
			else
			{
				<h2 class ="empty-chat-box">No chats found...</h2>
			}
		</article>

		<article class="card-messages">
			<h1 class="title-text-messages">MESSAGES</h1>
			@if (Model.Messages.Count != 0)
			{
				<ul class="messages-ul">
					@foreach (var message in Model.Messages)
					{
						<li class="messages-li">
							<h2 style="color: @message.TitleColor" class="message-title">@message.Title</h2>
							<p class="message-content">@Html.Raw(message.Content)</p>
							<h3 class="timestamp" style="color: @message.TitleColor">@message.CreatedTime</h3>
						</li>
					}
				</ul>
			}
			else
			{
				<h2 class="empty-message-box">No messages for now...</h2>
			}
		</article>
	</div>
</div>


@section Scripts {
	<partial name="_ValidationScriptsPartial" />

	<!-- Load jQuery first -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- Load SweetAlert2 after jQuery -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<!-- Your custom scripts -->
	<script src="~/js/Login/Login.js" asp-append-version="true"></script>

	@if (ViewBag.Notification != null)
	{
		<script>
			$(document).ready(function () {
				Swal.fire({
					icon: 'success',
					title: 'Success!',
					text: '@ViewBag.Notification',
				});
			});
		</script>
	}

	<script>
		$(document).ready(function () {
			if (sessionStorage.getItem('notificationMessage')) {
				Swal.fire({
					icon: 'success',
					title: 'Success!',
					text: sessionStorage.getItem('notificationMessage'),
				});
				sessionStorage.removeItem('notificationMessage'); // Clear the message after displaying
			}
		});
	</script>
}