@model List<AdPreviewViewModel>

<link rel="stylesheet" href="~/css/Ad/UserAds.css" asp-append-version="true" />

@if (Model.Count > 0)
{
	<section class="card-holder">
		@foreach (var ad in Model)
		{
			<article class="car-card">
				<div class="image-holder">
					@{
						// Display the first image
						var firstImage = ad.ImageUrls.FirstOrDefault();
						if (firstImage != null)
						{
							<img src="~/Images/Ad/@firstImage" alt="First image of the car ad" />
						}
					}
				</div>
				<h2 class="article-title">@ad.Brand @ad.Model</h2>
				<div card-text>
					<ul>
						<li><strong>Price:</strong> @ad.Price$</li>
						<li><strong>Year:</strong> @ad.Year</li>
						<li><strong>Engine:</strong> @ad.Engine</li>
						<li><strong>HorsePower:</strong> @ad.HorsePower</li>
						<li><strong>Condition:</strong> @ad.Condition</li>
						<li><strong>Euro Standard:</strong> @ad.EuroStandard</li>
						<li><strong>Fuel Type:</strong> @ad.FuelType</li>
						<li><strong>Owner:</strong> @ad.FirstName @ad.LastName</li>
						<li><strong>Created On:</strong> @ad.CreatedOn</li>
					</ul>
					<footer class="bottom-text">
						<i class="edit-delete-cancel-buttons">
							<a class="edit-button" asp-area="" asp-controller="Ad" asp-action="Edit" asp-route-carId="@ad.CarId">Edit</a>
							<form asp-area="" asp-controller="Ad" asp-action="Delete" asp-route-carId="@ad.CarId" method="post">
								@Html.AntiForgeryToken()
								<button type="button" class="delete-button" data-carid="@ad.CarId">Delete</button>
							</form>

							<form asp-area="" asp-controller="UserCars" asp-action="Cancel" asp-route-carId="@ad.CarId" asp-route-adId="@ad.AdId" method="post">
								@Html.AntiForgeryToken()
								<button type="submit" class="cancel-button">Cancel</button>
							</form>
						</i>
					</footer>
				</div>
			</article>
		}
	</section>
}
else
{
	<section class="card-holder-message">
		<article class="car-card-message">
			<h2 class="article-title-message"> </h2>
			<div card-text>
				<h2 class="message">You don't have any ads yet. Consider creating one!</h2>
				<footer class="bottom-text-message">
					<ul>
						<i class="create-message-button">
							<a asp-area="" asp-controller="Ad" asp-action="Create">CREATE</a>
						</i>
					</ul>
				</footer>
			</div>
		</article>
	</section>
}
<script src="~/js/Background Effect/Background.js" asp-append-version="true"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
	$(document).ready(function () {
		$('.delete-button').click(function () {
			var carId = $(this).data('carid');
			Swal.fire({
				title: 'Are you sure?',
				text: 'You won\'t be able to revert this!',
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						url: '@Url.Action("Delete", "Ad")',
						type: 'POST',
						data: { carId: carId },
						headers: {
							RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
						},
						success: function () {
							window.location.href = '@Url.Action("UserAds", "Ad")';
						},
						error: function (xhr, status, error) {
							console.error(xhr.responseText);
						}
					});
				}
			});
		});
	});
</script>

@if (TempData["DeleteMessage"] != null)
{
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script>
		Swal.fire({
			icon: 'success',
			title: 'Ad deleted!',
			text: '@TempData["DeleteMessage"]',
		});
	</script>
	{
		TempData.Remove("DeleteMessage");
	}
}


@if (TempData["AdCreatedSuccesfully"] != null)
{
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script>
		Swal.fire({
			icon: 'success',
			title: 'Ad created!',
			text: '@TempData["AdCreatedSuccesfully"]',
		});
	</script>
	{
		TempData.Remove("AdCreatedSuccesfully");
	}
}



