@model HomePageViewModel

<link rel="stylesheet" href="~/css/Home/HomePage/HomePage.css" asp-append-version="true" />

<partial name="_WebsiteName">
</partial>

<article class="card-news" asp-area="" asp-controller="Home" asp-action="HomePage">
	<div id="clock"></div>
	<div class="0">
		<ul class="stats">
			<li>
				Sold Cars: @Model.DataStatistics.SoldCars
			</li>
			<li>
				Created Cars: @Model.DataStatistics.CreatedCars
			</li>
			<li>
				Created Reviews: @Model.DataStatistics.CreatedReviews
			</li>
		</ul>
	</div>
	<h1 class="news-section-text">NEWS</h1>

	<section>
		<partial name="_AllNewsPreview" model="Model.NewsPreview">
		</partial>
	</section>

	<div class="pagination-container">
		@if (Model.Pager.TotalPages > 0)
		{

			<ul class="page-list">
				@if (Model.Pager.CurrentPage > Model.Pager.StartPage)
				{
					<li class="page-item">
						<a class="page-link"
						   href="@Url.Action("HomePage", "Home", new
                            {
                                currentPage = Model.Pager.CurrentPage - 1,
                            })">Previous</a>
					</li>
				}

				@for (int page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
				{
					<li class="page-item">
						<a class="page-link @(page == Model.Pager.CurrentPage ? "active" : "")"
						   href="@Url.Action("HomePage", "Home", new{
                                currentPage = page,
                            })">@(page)</a>
					</li>
				}

				@if (Model.Pager.CurrentPage < Model.Pager.EndPage)
				{
					<li class="page-item">
						<a class="page-link"
						   href="@Url.Action("HomePage", "Home", new{
                                currentPage = Model.Pager.CurrentPage + 1,
                            })">Next</a>
					</li>
				}
			</ul>
		}
	</div>

</article>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
<script src="~/js/HomePage/HomePage.js" asp-append-version="true"></script>